{% extends 'base.html.twig' %}

{% block title %}Nouvelle Transaction{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">

                <div class="card shadow">
                    <div class="card-header bg-success text-white">
                        <h4 class="mb-0">Ajouter une nouvelle transaction</h4>
                    </div>

                    <div class="card-body">
                        {{ form_start(form) }}

                        <div class="mb-3">
                            {{ form_label(form.amount, 'Montant') }}
                            {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(form.date, 'Date') }}
                            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(form.description, 'Description') }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(form.category, 'Catégorie') }}
                            {{ form_widget(form.category, {'attr': {'class': 'form-select'}}) }}
                        </div>

                        <button class="btn btn-success mt-3">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
